section#troo-da-hero-section {
  background-image: url(../../Images/banner-img.png);
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-title {
  font-family: "Script MT";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}
.banner-text span {
  color: #e27394;
}
.banner-text p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 45px;
}
.banner-text {
  text-align: center;
  padding: 366px 133px 0 133px;
}
.troo-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 245px;
}

/* Hero Global */
#troo-da-sub-page-section {
  background-image: url(../../Images/sub-page-bg.png);
  padding: 223px 0 82px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e1f5c;
}
ol.breadcrumb {
  justify-content: space-around;
  background: hsl(342deg 66% 67% / 10%);
  margin: 0 auto;
  border-radius: 0px;
  width: fit-content;
  padding: 7px 10px;
}
li.breadcrumb-item {
  position: relative;
  padding: 0 25px !important;
}
li.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}
li.breadcrumb-item.active {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e27394 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  background: #e27394 !important;
  content: " " !important;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  float: none !important;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  padding: 0 !important;
  transform: translateY(-50%);
}
.sub-page-text h2 {
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-top: 18px;
}

@media (max-width: 1199px) {
  .banner-text p br {
    display: none;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 30px !important;
    max-width: inherit !important;
  }
  .banner-text {
    padding: 253px 0 0px 0;
  }
  .troo-btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  #troo-da-hero-section {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .banner-text {
    padding: 30px 0 0 0;
  }
  .troo-btn {
    padding-bottom: 12px;
  }
  .container {
    padding: 0 20px !important;
    max-width: inherit !important;
  }
  .sub-title{
    font-size: 24px;
    margin-bottom: 30px;
  }
}
