section.coming-soon-seciton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../Images/coming-bg.png);
  background-position: 179px;
  background-repeat: no-repeat;
}
.coming-txt span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  background: #3e1f5c;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 29px;
}
.com-tle {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #232323;
  margin-top: 14px;
  margin-bottom: 22px;
}
.coming-txt .search-container strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #232323;
  margin-bottom: 11px;
  display: block;
}
.coming-txt .search-container input {
  border: 1px solid rgb(35 35 35 / 5%);
  border-radius: 5px;
  height: 60px;
  width: 100%;
}
.coming-txt .search-container button {
  background: #3e1f5c;
  border-radius: 0px 5px 5px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  position: absolute;
  padding: 18px 52px;
  right: 0;
}
.coming-txt {
  padding: 0 204px;
}
.coming-txt form {
  position: relative;
}
.coming-img img {
  width: 100%;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .coming-txt {
    padding: 30px 20px 33px 20px;
  }
  .com-tle {
    font-size: 42px;
    line-height: 44px;
  }
  .coming-txt .search-container button {
    padding: 18px 15px;
  }
}

@media (max-width: 1199px) {
  .coming-txt {
    padding: 30px 20px 33px 20px;
  }
  .com-tle {
    font-size: 42px;
    line-height: 44px;
  }
  .coming-txt .search-container button {
    padding: 18px 15px;
  }
}

@media (max-width: 767px) {
  section.coming-soon-seciton {
    flex-wrap: wrap;
  }
  .coming-txt {
    padding: 30px 20px 33px 20px;
  }
  .com-tle {
    font-size: 42px;
    line-height: 44px;
  }
}
