button.hum-btn {
  position: absolute;
  right: 58px;
  top: 30px;
  background: transparent;
  border: none;
}
a.navbar-brand {
  margin: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: transparent !important;
}
.header section#troo-da-header-section a.nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
  padding: 0 22px !important;
}

.nav-link.test button.btn.btn-primary {
  background: transparent;
  border-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
  padding: 0 22px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 0 !important;
}
.nav-link.test.dropdown {
  padding: 0 22px;
}
.header section#troo-da-header-section a.nav-link:hover {
  color: #e27394;
}
.active a {
  color: #e27394 !important;
}
.nav-link.test button:hover {
  color: #e27394 !important;
}
li.active .nav-link.test button {
  color: #e27394 !important;
}
ul.dropdown-menu {
  top: 67px !important;
}
a.dropdown-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232323 !important;
}
.header section#troo-da-header-section a.nav-link:hover {
  opacity: 1;
}
li.nav-item {
  position: relative;
}
.socail-icon ul li a svg {
  color: #000;
  padding: 5px 4px;
  background: #fff;
  border-radius: 100px;
  font-size: 16px;
  width: 27px;
  height: 27px;
  text-align: center;
}
.socail-icon ul li a:hover svg {
  background: #89a155;
  color: #fff;
}
.socail-icon ul li {
  display: inline-block;
}
.socail-icon ul {
  border: 0px solid transparent !important;
  padding: 0px;
}
.siderbar-contact ul {
  padding: 63px 0 0 0;
}
.header .make-btn {
  margin-left: 58px;
}
.socail-icon h4 {
  text-transform: uppercase;
  border-top: 1px solid rgb(39 41 62 / 20%);
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #27293e;
  margin-top: 22px;
  padding-top: 15px;
  padding-bottom: 22px;
}
.offcanvas-body .read-cta {
  margin-top: 30px !important;
}
.siderbar-contact ul li span a {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #27293e;
  text-decoration: none;
  display: block;
}
.canva-logo img {
  display: block;
  margin: 0 auto;
  max-width: 183px;
}
.canva-logo {
  border-bottom: 1px solid rgb(39 41 62 / 20%);
  padding-bottom: 16px;
  margin-bottom: 155px;
}
.offcanvas-body {
  padding-left: 30px !important;
  padding-right: 94px !important;
}
.siderbar-contact ul li span {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #27293e;
  text-decoration: none;
  display: block;
  padding-left: 22px;
}
.socail-icon.siderbar-contact ul li {
  display: flex;
  align-items: center;
  padding-bottom: 79px;
}
.menu-col ul li {
  list-style: none;
  padding-bottom: 25px;
  border-bottom: 1px solid #e27394;
  margin-bottom: 19px;
}
.btn-close:focus{
  box-shadow: none !important;
}
.offcanvas-body {
  padding: 6px 38px;
}
.offcanvas-header button.btn-close {
  position: absolute;
  right: 39px;
  top: 23px;
  color: #000;
  background-color: #e27394;
  opacity: 1;
}
.menu-col ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
section#troo-da-header-section {
  background: #fff;
  position: fixed;
  z-index: 999;
  top: 0px;
  width: 100%;
  padding: 20px 98px 20px 98px;
  box-shadow: 0px 8px 15px rgba(149, 157, 165, 0.1);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0;
}
a.navbar-brand {
  padding: 0;
}
ul.navbar-nav {
  margin-left: 39px;
  margin-right: 54px;
}
.socail-icons ul {
  margin: 0;
  padding: 0;
}
.socail-icons ul li {
  list-style: none;
  padding: 0 6px;
  display: inline-block;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}
button.hum-btn:hover {
  background-color: #e27394;
}
.dropdown-item.active, .dropdown-item:active{
  color: #e27394 !important;
  background-color: #d3cccc !important;
}

@media (max-width: 1900px) {
  section#troo-da-header-section {
    padding: 10px 30px;
  }
  .socail-icons ul {
    display: flex;
  }
  a.navbar-brand img {
    width: 100%;
  }
  
  ul.navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  .header .make-btn .btn {
    padding: 10px 14px !important;
  }
  .header .make-btn {
    margin-left: 20px;
  }
  button.hum-btn {
    right: 13px;
    top: 23px;
  }
}
@media (max-width: 1500px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flsex-start;
  }
  .header section#troo-da-header-section a.nav-link {
    padding: 0 15px !important;
    font-size: 16px;
  }
  .nav-link.test button.btn.btn-primary{
    padding: 0 15px !important;
    font-size: 16px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: start;
}
}

@media  (max-width: 1400px) {
  
  .header .make-btn .btn {
    padding: 10px 11px !important;
    font-size: 13px !important;
  }
  a.navbar-brand img {
    width: 100%;
    max-width: 153px;
  }
  .socail-icons {
    display: none;
  }
 
}

@media (max-width: 1199px) {
  section#troo-da-header-section {
    padding: 10px 30px;
  }
  a.navbar-brand img {
    max-width: 154px;
  }
  .nav-link.test button.btn.btn-primary{
    padding: 18px 18px !important;
    font-size: 16px;
  }
  .header section#troo-da-header-section a.nav-link {
    padding: 18px 16px !important;
    font-size: 16px;
  }
  .socail-icons ul {
    display: flex;
  }
  .header .make-btn {
    margin-left: 59;
  }
  .header .make-btn .btn {
    display: none;
  }
  button.hum-btn {
    display: none;
  }
  .socail-icons {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
@media (max-width: 1024px) {
  .header .make-btn .btn {
    font-size: 13px !important;
    line-height: 21px !important;
    padding: 11px 9px !important;
  }
  .header .make-btn{
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.header section#troo-da-header-section a.nav-link{
  font-size: 16px;
}
}

@media (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 0 30px;
  }
  a.navbar-brand img {
    max-width: 200px;
  }
  .dropdown-menu.show{
    border: 0;
  }
 
  a.navbar-brand {
    margin: 0;
    padding: 11px 0px;
  }
  section#troo-da-header-section {
    padding: 0px 0px;
    height: 75px;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../../Images/humberger-Menu.png) !important;
  }
  button.navbar-toggler {
    border: none;
    padding: 0;
    margin-right: 0px;
    font-size: 25px;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  ul.navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  button.hum-btn {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #fff;
    padding-top: 16px;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 20px;
  }
  .socail-icons {
    padding: 25px 0;
  }
  header .make-btn {
    margin-left: 0;
    padding: 0 0 37px 0;
  }
  .header section#troo-da-header-section a.nav-link {
    color: #232323;
  }
  a.dropdown-item{
    padding: 10px 10px 10px 50px;
  }
  
  .nav-link.test button.btn.btn-primary{
    color: #232323;
  }
  li.active .nav-link.test button{
    color: #e27394;
  }
  .header section#troo-da-header-section li.nav-item{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.03);
  }


  li.nav-item.active:after {
    display: none;
  }
  li.nav-item:after {
    display: none;
  }
}
@media (max-width: 416px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0 20px;
  }
}