.work-text h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3e1f5c;
  padding-bottom: 13px;
  text-align: left;
}
section#troo-da-our-work-section {
  padding-top: 100px;
}
.work-col {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
.work-col:after {
  background: #3e1f5c;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  opacity: 0;
  z-index: 9;
  transition: 0.5s;
}
.work-col:hover:after {
  opacity: 0.5;
}
.arrow-im img {
  background: #232323;
  border-radius: 15px;
  padding: 4px 9px;
}
.work-col img {
  width: 100%;
}
.work-col:hover .arrow-im {
  margin-top: -14px;
  opacity: 1;
}
.arrow-im {
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 30px;
  position: absolute;
  opacity: 0;
}
.work-text p {
  margin: 8px 0 9px 0;
}
.work-text {
  background: #ffffff;
  border-bottom: 1px solid #0fa00f;
  box-shadow: 0px 8px 24px rgb(149 157 165 / 10%);
  border-radius: 5px;
  position: absolute;
  bottom: 34px;
  width: 100%;
  left: 21px;
  padding-left: 28px;
  max-width: 365px;
  padding-bottom: 16px;
  z-index: 99;
}
.worl-ti h2 {
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 1400px) {
  .work-text {
    bottom: 16px;
    width: 100%;
    left: 11px;
    padding-left: 28px;
    max-width: 333px;
    padding-bottom: 0;
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .work-text {
    position: relative;
    bottom: 34px;
    width: 100%;
    left: 0;
    padding-left: 28px;
    max-width: 365px;
    padding-bottom: 30px;
    padding-top: 15px;
  }
  .arrow-im {
    opacity: 1;
    margin-top: -8px;
  }
  .work-text h5 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .work-text { 
    max-width: 100%;
  }
}
