.counder-section {
  background: #ffffff;
  box-shadow: 0px 4px 35px rgb(0 0 0 / 10%);
  border-radius: 5px;
  max-width: 1300px;
  margin: -155px auto 0 auto;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 70px;
  padding-right: 70px;
}
.conter-tx .counter span {
  transition: 0.5s;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #232323;
}
.conter-tx strong {
  transition: 0.5s;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #232323;
}
.counter-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
.counter-box:after {
  position: absolute;
  width: 309px;
  height: 5px;
  left: 0;
  top: -63px;
  background: #e27394;
  content: "";
  opacity: 0;
  transition: 0.5s;
}
.conter-icon {
  padding-right: 20px;
}
.counter-box:hover .counter span {
  color: #e27394;
}
.counter-box:hover .conter-tx strong {
  color: #e27394;
}
.counter-box:hover:after {
  opacity: 1;
}

@media (max-width: 1400px) {
  .conter-tx .counter span {
    font-size: 40px;
    line-height: 60px;
  }
  .conter-tx strong {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 991px) {
  .counter-box {
    display: block;
    align-items: center;
    cursor: pointer;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
  }
  .conter-icon {
    padding-right: 0;
  }
  .conter-tx .counter span {
    font-size: 40px;
    line-height: 38px;
  }
  .conter-tx strong {
    font-size: 40px;
    line-height: 38px;
  }
  .counder-section {
    margin: -224px 15px 0 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .counter-box:after {
    display: none;
  }
}
