/* .detail-pages ol.breadcrumb {
  max-width: 320px;
} */
/* .detail-pages .breadcrumb-item + .breadcrumb-item::before {
  left: -12px;
} */
.ser-text h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #27293e;
  margin-bottom: 13px;
  margin-top: 26px;
}
.provied-ss {
  background: #fdf5f8;
  box-shadow: 0px 7px 29px rgb(100 100 111 / 5%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 51px;
  padding-right: 62px;
  margin-bottom: 44px;
  margin-top: 44px;
}
.pro-txt h5 {
  text-align: left;
  margin-bottom: 14px;
}
.pro-txt p {
  margin-bottom: 0;
}
.pro-txt {
  padding-left: 20px;
}
.title-goes h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #27293e;
  margin-top: 30px;
  margin-bottom: 13px;
}
.therapy-detail h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #3e1f5c;
}
.therapy-detail ul {
  padding: 0;
  margin: 0;
}
.therapy-detail ul li {
  list-style: none;
}
.therapy-detail h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #3e1f5c;
  border-bottom: 1px solid rgb(62 31 92 / 10%);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.therapy-detail ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
  padding-bottom: 19px;
}
.therapy-detail ul li strong {
  padding-left: 4px;
}
.therapy-detail {
  background: rgb(226 115 148 / 10%);
  border: 1px solid rgb(62 31 92 / 10%);
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 11px;
  margin-bottom: 30px;
}
section#troo-da-services-details-section {
  padding-top: 141px;
  padding-bottom: 100px;
  position: relative;
  z-index: -1;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}
.offer-section {
  background-image: url(../../Images/Therapy.png);
  padding: 60px 55px;
  border: 1px solid #3e1f5c;
  border-radius: 5px 5px 0 0;
  margin-bottom: -50px;
  width: 406px;
}
.offer-section span {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
  display: block;
  background: #e27394;
  padding: 15px 16px;
}
.offer-section strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #ffffff;
  text-align: center;
  display: block;
}
.offer-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 74px;
}
.book-ss h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-top: 34px;
  text-align: center;
  color: #ffffff;
}
.book-ss {
  position: relative;
}
.book-ss:after {
  background-image: url(../../Images/Ellipse-32.png);
  position: absolute;
  content: "";
  top: 1px;
  border-radius: 28px;
  width: 407px;
  height: 105px;
  background-repeat: no-repeat;
}
.book-ss:before {
  width: 569px;
  height: 337px;
  content: "";
  background: #fff;
  border-radius: 79%;
  position: absolute;
  top: -8px;
  left: -107px;
  transform: rotate(-5deg);
}
.services-detail.detail-pages {
  position: relative;
  z-index: 9;
}

@media (max-width: 1400px) {
  .ser-bttom-img img {
    width: 100%;
  }
  .ser-img img {
    width: 100%;
  }
  section#troo-da-services-details-section{
    overflow: hidden;
  }
}

@media (max-width: 1199px) {
  .offer-section {
    padding: 26px 18px;
    margin-bottom: -77px;
    width: 301px;
    background-size: cover;
  }
  .offer-section span {
    font-size: 24px;
    padding: 6px 12px;
  }
  .book-ss:after {
    width: 301px;
  }
  .therapy-detail h4 {
    font-size: 20px;
  }
  .therapy-detail {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1024px) {
  section#troo-da-services-details-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .ser-bttom-img img {
    width: 100%;
  }
  .ser-img img {
    width: 100%;
  }
  .provied-ss {
    padding-left: 13px;
    padding-right: 14px;
  }
  .offer-section {
    width: 227px;
  }
  .book-ss:after {
    width: 227px;
  }
}

@media (max-width: 767px) {
  .offer-section {
    padding: 26px 18px;
    margin-bottom: -77px;
    width: 100%;
    background-size: cover;
  }
  .offer-section span {
    font-size: 33px;
    padding: 6px 12px;
  }
  .book-ss:after {
    display: none;
  }
  .offer-section p {
    padding-bottom: 26px;
    font-size: 15px;
    line-height: 25px;
  }
  .book-ss h4 {
    font-size: 20px;
  }
  section#troo-da-services-details-section .ser-bttom-img{
    margin-bottom: 20px;
  }
  .book-ss:before {
    display: none;
  }
}
