/* .why-choose-img {
  position: relative;
}
.why-choose-img:after {
  min-width: 1527px;
  background-image: url(../../Images/property-cosy.png);
  position: absolute;
  content: "";
  width: 100%;
  height: 1018px;
  top: 0;
  left: -58%;
  background-repeat: no-repeat;
}
.why-choose-text {
  position: relative;
  padding-left: 66px;
  padding-top: 124px;
  padding-bottom: 135px;
  padding-right: 0px;
}
.why-choose-text:after {
  background-image: url(../../Images/reshot-icon-spa.png);
  position: absolute;
  width: 384px;
  height: 100%;
  content: "";
  top: 0;
  background-repeat: no-repeat;
  background-position: right;
  right: -301px;
  min-height: 998px;
  z-index: 9;
}
section#troo-da-why-choose-section {
  background-color: #3e1f5c;
}



} */


#troo-da-why-choose-section .container{
  max-width: 100%;
  padding: 0;
  
}
#troo-da-why-choose-section .row{
  margin: 0;
  display: flex;
  width: 100%;
}
#troo-da-why-choose-section .row .col-md-6{
  flex: 1;
  padding: 0;
}
#troo-da-why-choose-section{
  background-color: #3e1f5c;
}
#troo-da-why-choose-section .container .highlight_left{
  background-image: url(../../Images/property-cosy.png);
  background-repeat: no-repeat;
  width: 100%;
 background-size: cover;
}
.why-choose-text {
  position: relative;
  padding-left: 66px;
  padding-top: 124px;
  padding-bottom: 135px;
  padding-right: 0px;
}
.why-choose-text:after {
  background-image: url(../../Images/reshot-icon-spa.png);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
  z-index: 9;
  background-size: initial;
}
.chose-list-text h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}
.why-choose-text .troo-tile h2 {
  color: #fff;
  margin-bottom: 21px;
}
.why-choose-text p {
  color: #fff;
  margin-bottom: 0;
  padding: 0 18px 0 0;
}
.why-choose-text ul li {
  display: flex;
  padding-top: 40px;
  cursor: pointer;
}
.why-choose-text ul {
  padding: 0;
  margin: 0;
}
.chose-list-img img {
  background: rgb(226 115 148 / 20%);
  border-radius: 100px;
  padding: 18px 18px;
}
.chose-list-text {
  padding-left: 33px;
  padding-top: 14px;
}
.chose-list-img svg {
  background-color: rgb(226 115 148 / 20%);
  width: 70px;
  height: 70px;
  padding: 3px 16px;
  border-radius: 100px;
  transition: 0.5s;
}
.why-choose-text ul li:hover .chose-list-img svg path {
  stroke: #fff;
}
.why-choose-text ul li:hover .chose-list-img svg {
  background-color: #e27394;
}
.why-choose-text .troo-tile span {
  margin-bottom: 16px;
  display: block;
}

@media (max-width: 1900px) {
  .why-choose-text {
    padding-left: 58px;
    padding-bottom: 72px;
    padding-top: 65px;
  }

  .why-choose-text:after {
    right: 0;
  }
}

@media (max-width: 1199px) {
  .why-choose-text ul li {
    padding-top: 37px;
  }
  .why-choose-text {
    padding-left: 35px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.chose-list-text {
  padding-left: 20px;
  padding-top: 0px;
}
.chose-list-img svg {
  width: 50px;
  height: 50px;
  padding: 3px 10px;
}
}

@media (max-width: 1024px) {
  .why-choose-img:after {
    top: -11px;
  }
  .why-choose-text {
    padding-top: 68px;
    padding-bottom: 94px;
  }
  .chose-list-text {
    padding-left: 15px;
  }
  #troo-da-why-choose-section .container .highlight_left{
    height: 80vh;
  }
  #troo-da-why-choose-section .row{
    display: block;
  }
  #troo-da-why-choose-section .row .col-md-6{
    width: 100%;
  }
}

@media (max-width: 991px) {
  #troo-da-why-choose-section .container{
    padding: 0 !important;
  }
  .why-choose-text p {
    padding: 0;
  }
  .why-choose-text ul li {
    display: flex;
    padding-top: 40px;
    cursor: pointer;
    flex-wrap: wrap;
  }
  .chose-list-text {
    padding-left: 0;
  }
  section#troo-da-why-choose-section .col-md-5 {
    width: 100%;
  }
  section#troo-da-why-choose-section .col-md-7 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .why-choose-img {
    position: relative;
    padding-top: 11px;
    top: 38px;
  }
  .why-choose-text {
    padding-left: 25px;
    padding-bottom: 124px;
    padding-right: 33px;
  }
}